---
import NavigationLinks from "../components/NavigationLinks.astro";
import NavigationSocialBar from "../components/NavigationSocialBar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Ralf Astro 2025</title>
    <script>
      // Dark mode initialization
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();
      if (theme === 'dark') document.documentElement.classList.add('dark');
    </script>
  </head>
  <body class="font-mono bg-light dark:bg-dark text-dark dark:text-light">
    <main class="container mx-auto min-h-screen px-4">
      <header class="flex items-center justify-between py-8">
        <nav class="flex items-center gap-x-8 text-2xl">
          <NavigationLinks />
        </nav>
        <nav class="flex items-center gap-x-5">
          <NavigationSocialBar />
        </nav>
      </header>
      <article>
        <slot />
      </article>
      <footer></footer>
    </main>
    <script src="../components/js/app.js"></script>
  </body>
</html>
